body {
	background-image: url("../images/concrete_seamless.png");
}
.wrapper {
	 /*width: 960px; */
	margin: 0 auto;
	height: 100%;
}
section {
	width:450px;
	margin: 30px 20px 30px 100px;
	padding: 30px;
	background-color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
	float: left;
	font-weight: bold;
}
h2{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dddddd;
	padding-bottom: 10px;
	margin-bottom: 20px;
	color: teal;
	font-weight: bold;
}
.head {
	background-color: white;
	height: 75px;
	margin-top: 30px;
	padding-left: 200px;
	border-bottom-color: #dddddd;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

aside {
	width: 150px;
	margin: 30px 30px 30px 10px;
	padding: 30px;
	float: left;
	background-color: white;
	color: teal;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bolder;
} 
header {
	background-color: teal;
	width: 200px;
	margin: 0 30px 0 100px;
	padding: 30px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	color: white;
	font-weight: bolder;
	float: left;
}
nav {
	float: left;
	padding-top: 30px;
	margin-left: 275px;
}
.div {
	/* background-image: url("../images/concrete_seamless.png"); */
	/* border-top-color: #dddddd;
	border-top-width: 2px;
	border-top-style: solid; */
	overflow: auto;
	margin: 0 auto;
	width: 960px;
}
a {
	text-decoration: none;
	color: #777777;
}
.footer {
	background-color: #666666;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: teal;
	text-align: center;
	color: white;
	padding: 30px;
}
.clear {
	clear: both;
	height: 135px;
}
.intro {
	color: #777777;
	font-size: 14px;
	font-weight: normal;
	line-height: 25px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.pic {
	float: left;
	margin-right: 20px;
}
label {
    color: #777777;
}
input {
	width: 445px;
	margin-bottom: 15px;
	margin-top: 10px;
	height: 25px;
	padding-left: 10px;
	border-color: #dddddd;
	border-width: 1px;
	border-style: solid;
}
textarea {
	width: 445px;
	margin-bottom: 15px;
	margin-top: 10px;
	padding-left: 10px;
	height: 200px;
	border-color: #dddddd;
	border-width: 1px;
	border-style: solid;
}
button {
	background-color: teal;
	border: 0;
	color: white;
	padding: 10px 30px;
}

/* .row1 {
	height: 30px;
	padding: 0;
} */
/* .img {
	position: relative;
	width: 100%;
} */
/*.img_text {
	position: relative;
	top: -50px;
	left: 0;
	width: 190px;
	background-color: teal;
	color: white;
	padding: 10px;
}
.img_text1 {
	position: relative;
	top: -30px;
	left: 15px;
	width: 70%;
	background-color: teal;
	color: white;
	padding: 7px;
	height: 26px;
}*/
.work {
	width: 200px;
	overflow: auto;
	position: relative;
	float: left;
	margin: 20px 10px 25px;
}
/*.work:nth-child(even) {
	margin-right: 40px;
}*/
.work img {
	width: 200px;
	height: 200px;
	border: 0 none;
	opacity: .8;
}
.work h3 {
	border-bottom: 0;
	background: #4aaaa5;
	color: #fff;
	text-align: center;
	position: absolute;
	padding: 15px;
	width: 155px;
	bottom: 20px;
	line-height: 30px;
	margin-bottom: 0;
	font-weight: 300;
}

@media screen and (max-width: 980px)
{
	section {
		width: 220px;
		margin-left: 100px;
		padding-right: 20px;
		padding-left: 20px;
	}
	body {
		/*width: 85%;*/
		margin: 0;
		background-image: url("../images/concrete_seamless.png");
	}
	input {
		width: 210px;
	}
	textarea {
		width: 210px;
	}
	header {
		margin-left: 100px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.head {
           padding-left: 0;
           margin-left: 0;
           width: 700px;
           margin-right: 0;
	}
	.wrapper {
		margin: 0;
		/*width: 100%;*/
		/*border: 1px black solid;*/
	}
	nav {
		margin-left: 80px;
		
	}
	.div {
		/*margin: 0;*/
		width: 700px;
	}
	aside {
		/*clear: both;*/
		width: 150px;
		margin-left: 10px;
	}
	.pic {
		clear: both;
		width: 220px;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.footer {
		width: 700px;
		padding-right: 0;
		padding-left: 0;
		/*margin-right: 0;*/
	}
	/*body {
		width: 100%;
	}*/
	.clear {
		width: 210px;
	}
	

}
@media screen and (max-width: 768px)
{
	section {
		width: 440px;
		margin-left: 20px;
	}
	input {
		width: 430px;
		/*margin-right: 10px;*/
	}
	textarea {
		width: 430px;
		/*margin-right: 10px;*/
	}
	header {
		margin-left: 20px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.head {
           padding-left: 0;
           margin-left: 0;
           width: 520px;
           margin-right: 0;
	}
	.wrapper {
		margin: 0;
		width: 520px;
		/*border: 1px black solid;*/
	}
	nav {
		margin-left: 70px;
		
	}
	.div {
		/*margin: 0;*/
		width: 100%;
	}
	aside {
		clear: both;
		width: 420px;
		margin-left: 20px;
		margin-top: 0;
	}
	.pic {
		clear: both;
		width: 220px;
		height: 200px;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	.footer {
		width: 520px;
		padding-right: 0;
		padding-left: 0;
		/*margin-right: 0;*/
	}
	/*body {
		width: 100%;
	}*/
	.clear {
		width: 700px;
	}
	
}
@media screen and (max-width: 640px)
{
	section {
		width: 260px;
		margin-left: 10px;
		margin-right: 10px;
	}
	input {
		width: 250px;
		/*margin-right: 10px;*/
	}
	textarea {
		width: 250px;
		/*margin-right: 10px;*/
	}
	header {
		margin-left: 0;
		/*padding-left: 0;
		padding-right: 0;*/
		padding: 20px 0;
		width: 320px;
	}
	.head {
           padding-left: 0;
           margin-left: 0;
           width: 320px;
           margin-right: 0;
           height: 100px;
	}
	.wrapper {
		margin: 0;
		width: 320px;
		/*border: 1px black solid;*/
	}
	nav {
		margin-left: 10px;
		padding-top: 15px;
		
	}
	.div {
		/*margin: 0;*/
		width: 100%;
	}
	aside {
		clear: both;
		width: 240px;
		margin-left: 10px;
		margin-top: 0;
		margin-right: 10px;
	}
	.pic {
		clear: both;
		width: 220px;
		height: 200px;
		margin-right: 0;
		margin-bottom: 20px;
		padding-left: 10px;
	}
	.footer {
		width: 320px;
		padding-right: 0;
		padding-left: 0;
		/*margin-right: 0;*/
	}
	/*body {
		width: 100%;
	}*/
	.clear {
		width: 200px;
	}
	.about {
		padding: 0 20px;
	}
	.portfolio {
		padding: 0 20px;
	}
	.contact {
		padding: 0 20px;
	}
	
}
